@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pine Valley Furniture</h1>
    <p class="lead">A Company that provides quality interiors offering a variety of wood options from oak to pine.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Customer Orders", "index", "CUSTOMER_ORDERS")</h2>
        <a href="@Url.Action("index","CUSTOMER_ORDERS")">
            <img src="/images/Order_line.jpg" alt="Customer Order" style="width:200px;height:150px" />
        </a>
    </div>



    <div class="col-md-4">
        <h2>@Html.ActionLink("Customers", "index", "CUSTOMERs")</h2>
        <a href="@Url.Action("index","CUSTOMERs")">
            <img src="/images/Customer.png" alt="Customers" style="width:200px;height:150px" />
        </a>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Customer Business", "index", "DOES_BUSINESS_IN")</h2>
        <a href="@Url.Action("index","DOES_BUSINESS_IN")">
            <img src="/images/customer_business.jpg" alt="Customer Business" style="width:200px;height:150px" />
        </a>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Employees", "index", "EMPLOYEEs")</h2>
        <a href="@Url.Action("index","EMPLOYEEs")">
            <img src="/images/employees.jpg" alt="Employees" style="width:200px;height:150px" />
        </a>
    </div>



    <div class="col-md-4">
        <h2>@Html.ActionLink("Skills", "index", "SKILLs")</h2>
        <a href="@Url.Action("index","SKILLs")">
            <img src="/images/skills.jpg" alt="Skills" style="width:200px;height:150px" />
        </a>
    </div>


    <div class="col-md-4">
        <h2>@Html.ActionLink("Employees Skills", "index", "HAS_SKILL")</h2>
        <a href="@Url.Action("index","HAS_SKILL")">
            <img src="/images/employee_skills.png" alt="Employees Skills" style="width:200px;height:150px" />
        </a>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Venders", "index", "VENDERs")</h2>
        <a href="@Url.Action("index","VENDERs")">
            <img src="/images/venders.png" alt="Venders" style="width:200px;height:150px" />
        </a>
    </div>



    <div class="col-md-4">
        <h2>@Html.ActionLink("Products", "index", "PRODUCTs")</h2>
        <a href="@Url.Action("index","PRODUCTs")">
            <img src="/images/Wood-Furniture.jpg" alt="Products" style="width:200px;height:150px" />
        </a>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Raw Material", "index", "RAW_MATERIAL")</h2>
        <a href="@Url.Action("index","RAW_MATERIAL")">
            <img src="/images/raw_material.jpg" alt="Raw Material" style="width:200px;height:150px" />
        </a>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Sales Persons", "index", "SALESPERSONs")</h2>
        <a href="@Url.Action("index","SALESPERSONs")">
            <img src="/images/sales_person.jpg" alt="Sales Persons" style="width:200px;height:150px" />
        </a>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Orders", "index", "ORDERs")</h2>
        <a href="@Url.Action("index","ORDERs")">
            <img src="/images/order.jpg" alt="Orders" style="width:200px;height:150px" />
        </a>
    </div>



    <div class="col-md-4">
        <h2>@Html.ActionLink("Order Line", "index", "ORDER_LINE")</h2>
        <a href="@Url.Action("index","ORDER_LINE")">
            <img src="/images/Order_line.jpg" alt="Order Line" style="width:200px;height:150px" />
        </a>
    </div>


    <div class="col-md-4">
        <h2>@Html.ActionLink("Product Work Center", "index", "PRODUCED_IN")</h2>
        <a href="@Url.Action("index","PRODUCED_IN")">
            <img src="/images/product_work_Center.jpg" alt="Product Work Center" style="width:200px;height:150px" />
        </a>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Product Line", "index", "PRODUCT_LINE")</h2>
        <a href="@Url.Action("index","PRODUCT_LINE")">
            <img src="/images/product_line.png" alt="Order Line" style="width:200px;height:150px" />
        </a>
    </div>





    <div class="col-md-4">
        <h2>@Html.ActionLink("Material Supplies", "index", "SUPPLIES")</h2>
        <a href="@Url.Action("index","SUPPLIES")">
            <img src="/images/material_supplies.jpg" alt="Material Supplies" style="width:200px;height:150px" />
        </a>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Territories", "index", "TERRITORIES")</h2>
        <a href="@Url.Action("index","TERRITORIES")">
            <img src="/images/territories.jpg" alt="Territories" style="width:200px;height:150px" />
        </a>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Product Material", "index", "USES")</h2>
        <a href="@Url.Action("index","USES")">
            <img src="/images/product_material.jpg" alt="Product Material" style="width:200px;height:150px" />
        </a>
    </div>


    <div class="col-md-4">
        <h2>@Html.ActionLink("Work Center", "index", "WORK_CENTER")</h2>
        <a href="@Url.Action("index","WORK_CENTER")">
            <img src="/images/work_center.jpg" alt="Work Center" style="width:200px;height:150px" />
        </a>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Employee Work Center", "index", "WORKS_IN")</h2>
        <a href="@Url.Action("index","WORKS_IN")">
            <img src="/images/employee_work_center.jpg" alt="Employee Work Center" style="width:200px;height:150px" />
        </a>
    </div>



</div>