@model S2G3_PVFAPP.Models.SUPPLIES

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SUPPLIES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Supply_Unit_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supply_Unit_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAW_MATERIAL.Material_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAW_MATERIAL.Material_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VENDER.Vender_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VENDER.Vender_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
