@model IEnumerable<S2G3_PVFAPP.Models.SUPPLIES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Supply_Unit_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAW_MATERIAL.Material_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VENDER.Vender_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Supply_Unit_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAW_MATERIAL.Material_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VENDER.Vender_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  venderID=item.Vender_ID, materialID=item.Material_ID }) |
            @Html.ActionLink("Details", "Details", new { venderID=item.Vender_ID, materialID=item.Material_ID }) |
            @Html.ActionLink("Delete", "Delete", new { venderID=item.Vender_ID, materialID=item.Material_ID })
        </td>
    </tr>
}

</table>
