@model S2G3_PVFAPP.Models.CUSTOMER_ORDER_VIEW

@{
    ViewBag.Title = "Details";
}


<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

            .invoice-box table td {
                padding: 5px;
                vertical-align: top;
            }

            .invoice-box table tr td:nth-child(2) {
                text-align: right;
            }

            .invoice-box table tr.top table td {
                padding-bottom: 20px;
            }

                .invoice-box table tr.top table td.title {
                    font-size: 45px;
                    line-height: 45px;
                    color: #333;
                }

            .invoice-box table tr.information table td {
                padding-bottom: 40px;
            }

            .invoice-box table tr.heading td {
                background: #eee;
                border-bottom: 1px solid #ddd;
                font-weight: bold;
            }

            .invoice-box table tr.details td {
                padding-bottom: 20px;
            }

            .invoice-box table tr.item td {
                border-bottom: 1px solid #eee;
            }

            .invoice-box table tr.item.last td {
                border-bottom: none;
            }

            .invoice-box table tr.total td:nth-child(2) {
                border-top: 2px solid #eee;
                font-weight: bold;
            }



    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

        .rtl table {
            text-align: right;
        }

            .rtl table tr td:nth-child(2) {
                text-align: left;
            }
</style>
<br /><br /><br />
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="5">
                <table>
                    <tr>
                        <td class="title">
                            <img src="/images/Pine_Valley_logo.jpg" style="width:100%; max-width:300px;">
                        </td>

                        <td>
                            <b> Order #: </b> @Html.DisplayFor(ITEM => Model.Order_ID)<br>
                            <b>Order Date:</b> @Html.DisplayFor(ITEM => Model.Current_Date)<br>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="5">
                <table>
                    <tr>
                        <td>
                            <b> Customer Address:</b><br />
                            @Html.DisplayFor(ITEM => Model.Customer_Address)
                        </td>

                        <td>
                            <b> Customer Name: </b><br />
                            @Html.DisplayFor(ITEM => Model.Customer_Name)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>



        <tr class="heading">
            <td align="left">
                Product ID
            </td>
            <td align="left">
                Product Name
            </td>
            <td align="left">
                Quantity
            </td>
            <td align="left">
                Unit Price
            </td>
            <td align="left">
                Extended Price
            </td>
        </tr>
        @foreach (var item in Model.CUSTOMER_ORDER_LIST)
        {
            <tr class="item">
                <td align="left">
                    @Html.DisplayFor(modelItem => item.PRODUCT.Product_ID)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.PRODUCT.Product_Description)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.ORDER_LINE.Ordered_Quantity)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.PRODUCT.Product_Standard_Price)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Extended_Price)
                </td>
            </tr>
        }

        <!--  <tr class="item last">
            <td>
                Domain name (1 year)
            </td>

            <td>
                $10.00
            </td>
        </tr> -->

        <tr class="total">

            <td colspan="4"></td>
            <td>
                Total:  @Html.DisplayFor(ITEM => Model.Total_Amount)
            </td>
        </tr>

        <tr class="heading">
            <td colspan="4">
                Payment Method
            </td>

            <td>
                Amount
            </td>
        </tr>

        <tr class="details">
            <td colspan="4">
                Not Specified
            </td>

            <td>
                NA
            </td>
        </tr>

    </table>


</div>
@Html.ActionLink("Edit", "Edit", new { customerID = Model.Customer_ID, orderID = Model.Order_ID }) |
@Html.ActionLink("Back to List", "Index")