@model IEnumerable<S2G3_PVFAPP.Models.ORDER_LINE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ordered_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER.Customer_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT.Product_Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ordered_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDER.Customer_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT.Product_Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  customerID=item.ORDER.Customer_ID,orderID=item.ORDER.Order_ID }) |
            @Html.ActionLink("Details", "Details", new { customerID=item.ORDER.Customer_ID,orderID=item.ORDER.Order_ID }) |
            @Html.ActionLink("Delete", "Delete", new { customerID=item.ORDER.Customer_ID,orderID=item.ORDER.Order_ID })
        </td>
    </tr>
}

</table>
