@model IEnumerable<S2G3_PVFAPP.Models.ORDER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.Customer_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.Customer_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Order_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_ID })
        </td>
    </tr>
}

</table>
